body {
	margin: 0px;
	padding-left: 5%;
}

.blog {
	margin-top: 5% ;
}

.title {
	margin: 2px;
	font-weight: 600;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

.link {
	font-size: 0.8em;
	color: black;
	text-decoration: underline;
}

.link:visited {
	color: black;
}

input {
	padding: 0.5em 1em;
	border-radius: 2px;
	border: 1.2px solid rgba(45,43,66,0.3) ;
	font-size: 16px;
	outline: none;
}

button {
	  padding: 0;
	  border: none;
	  font: inherit;
	  color: inherit;
	  background-color: transparent;
	  cursor: pointer;
	  outline: none;
}

#enter {
    margin: 30px 10px 10px 10px;
    padding: 0.3em 1em;
    display: inline-block;
    background-color: #4CAF50;
	color:  #FFFFFF;
    border: 2px solid #4CAF50;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    opacity: 0.9;
}

#enter:hover {
	opacity: 1;
}

.column {
	width: 100%;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.list {
    font-size: 23px;
    font-weight: 450;
    background-color: rgba(48,117,99,0.06);
    border-radius: 2px;
	margin: 8px 30px 8px 0px ;
	padding: 10px 0px 10px 20px;
	color: rgba(97,118,250,1);
	height: 45px;
}

.list:hover {
	background-color: rgba(0,0,0,0.1);
}

.btn {
	margin: 10px 20px 10px 30px;
    padding: 0.3em 1em;
    display: float;
    float: right;
	background-color: #f44336;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 2px;
    text-decoration: none;
    opacity: 0.9;
}

.btn:hover {
	opacity: 1;
}

.btn2 {
	margin: 10px 20px 10px 30px;
    padding: 0.3em 1em;
    display: float;
    float: right;
	background-color: #4CAF50;
	color:  #FFF;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 2px;
    text-decoration: none;
    opacity: 0.9;
}

.btn2:hover {
	opacity: 1;
}

.done {
	color: rgba(0,0,0,0.5);
	background-color: rgba(0,0,0,0.2);
}

img {
	width: 420px;
	height: 280px;
	margin-bottom: 20px;
}

img:hover {
	transform: scale(1.05);
}